* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
}

/* .swiper-container .swiper-button-next:after {
  font-size: 16px !important;
  font-weight: bold !important;

}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-feature-settings: normal,;
  font-variant: normal;
  line-height: 1;
} */