.mobile-bottom-navbar {
    padding: 13px 12px;
    display: flex;
    position: fixed;
    max-width: 420px;
    min-width: 360px;
    width: 100%;
    bottom: 0px;
    z-index: 10;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


  &__item {
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: -0.4px;
    width: 20%;
  }
}

@media screen and (min-width: 960px) {
  .mobile-bottom-navbar {
    display: none;
  }
}