.slider {
  max-width: 100%;
  margin: auto;
}
.slider-item {
  width: 100%;
}
.pc-slider {
  display: block;
}
.mobile-slider {
  display: none;
}
@media screen and (max-width: 960px) {
  .slider {
    max-width: 420px;
    margin: auto;
  }
  .slider-item {
    width: 420px;

  }

  .mobile-slider {
    display: block;
  }
  .pc-slider {
    display: none;
  }

}